/*-------------------------------------------------
BASE
-------------------------------------------------*/

html{
    box-sizing: border-box;
}

*,*:before, *:after{
    box-sizing: inherit;
}

/*-------------------------------------------------
ÉLEMENTS
-------------------------------------------------*/

.wrapper{
    max-width: 1080px;
    margin: 0 auto;
}


